.navbar {
  background-color: #333; /* Add a black background color to the top navigation */
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  width: 100%; /* Full width */
  top: 0;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Main content */
.info {
  margin-top: 60px; /* Add a bottom margin to avoid content overlay */
}

/*Position the footer*/
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;    
}
